{% extends 'layout/base.html' %}

{% block content %}
    <div class="text-md-end" style="position: absolute; right: 10px;">
        <a href="{% url 'ticket-add' %}" class="btn btn-primary">Deschide un Ticket Nou</a>
    </div>

    {% if tickets %}
        <h1>Detalii despre ticket</h1>
        <ul>
            <style>
                .card + .card {
                    margin-top: 20px;
                }
            </style>
            {% for ticket in tickets %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ticket {{ ticket.id }}</h5>
                        <p class="card-text">Nume societate: {{ ticket.nume_societate }}</p>
                        <p class="card-text">Descriere:
                            {% autoescape off %}{{ ticket.descriere_ticket|linebreaksbr }}{% endautoescape %}</p>
                        <p class="card-text">Status: {{ ticket.status_ticket }}</p>
                        <p class="card-text">Data deschiderii: {{ ticket.data_inregistrare_ticket|date:"Y-m-d" }}</p>
                        <p class="card-text">Data închiderii: {{ ticket.data_inchidere_ticket|date:"Y-m-d" }}</p>

                        <form method="post" action="{% url 'edit-ticket' ticket.id %}">
                            {% csrf_token %}
                            <label for="modificari">Modificări:</label>
                            <textarea id="modificari" name="modificari" rows="4" cols="50"
                                      placeholder="Introduceți modificările"></textarea>
                            <input type="submit" value="Adaugă modificări" class="btn btn-success">
                        </form>

                        <div class="text-md-end" style="position: absolute; right: 10px;">
                            <a href="{% url 'delete_ticket' ticket.id %}" class="btn btn-primary">Sterge Ticketul</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nu există tickete deschise.</p>
    {% endif %}


{% endblock %}